{{ define "main" }}
<section class="page-header">
    <div class="container">
        <h1><span style="color: var(--secondary-color);">GIFE</span></h1>
        <h2>Greatest International Friendly Ever™</h2>
        <br>
        <p>It started as an innocent discussion in a pub. Furlong told us about renewing his vows with Mira in Ireland. 
            We jokingly asked if we could join... the seed was planted... beers were consumed... 
            ideas about playing a game in Ireland started floating around... more beers were consumed... 
            plans were made... and so, the The Greatest International Friendly Ever (GIFE) was born. 
            In hindsight, we probably should have told Mira.</p>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="matches-grid">
            {{ range (where .Site.RegularPages "Section" "matches").ByDate.Reverse }}
            <a href="{{ .RelPermalink }}" class="match-card-link">
                <div class="match-card">
                    <h3>{{ .Title }}</h3>
                    <h4>{{ if .Params.subtitle }} {{ .Params.subtitle }}{{ end }}</h4>
                    <p class="match-date">{{ .Date.Format "January 2, 2006" }} • {{ .Params.location }}</p>
                    <div class="match-score">
                        <div class="team">
                            <span class="team-name">{{ .Params.team_home }}</span>
                        </div>
                        <div class="score">{{ .Params.score_home }} : {{ .Params.score_away }}</div>
                        <div class="team">
                            <span class="team-name">{{ .Params.team_away }}</span>
                        </div>
                    </div>
                    <p class="match-view-more">View Photos & Details →</p>
                </div>
            </a>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
